In [2]:
import pandas as pd
# Create initial DataFrame
data = {
    'Department': ['HR', 'HR', 'IT', 'IT', 'Sales', 'Sales'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'Salary': [60000, 65000, 70000, 72000, 80000, 85000],
    'Years': [2, 3, 4, 5, 6, 7]
}
df = pd.DataFrame(data)
df

  Department Employee  Salary  Years
0         HR    Alice   60000      2
1         HR      Bob   65000      3
2         IT  Charlie   70000      4
3         IT    David   72000      5
4      Sales      Eve   80000      6
5      Sales    Frank   85000      7

In [3]:
# Puzzle 1: Group by a column and calculate the mean of another column.
mean_salary = df.groupby('Department')['Salary'].mean()
print(mean_salary)

Department
HR       62500.0
IT       71000.0
Sales    82500.0
Name: Salary, dtype: float64

In [4]:
# Puzzle 2: Group by multiple columns and calculate the sum.
sum_salary_years = df.groupby(['Department', 'Employee']).sum()
print(sum_salary_years)

                     Salary  Years
Department Employee
HR         Alice      60000      2
           Bob        65000      3
IT         Charlie    70000      4
           David      72000      5
Sales      Eve        80000      6
           Frank      85000      7

In [5]:
# Puzzle 3: Pivot table with aggregation.
pivot_table = df.pivot_table(values='Salary', index='Department', columns='Years', aggfunc='mean')
print(pivot_table)

Years             2        3        4        5        6        7
Department
HR          60000.0  65000.0      NaN      NaN      NaN      NaN
IT              NaN      NaN  70000.0  72000.0      NaN      NaN
Sales           NaN      NaN      NaN      NaN  80000.0  85000.0

In [6]:
# Puzzle 4: Calculate the difference between the highest and lowest salary in each department.
salary_range = df.groupby('Department')['Salary'].agg(lambda x: x.max() - x.min())
print(salary_range)

Department
HR       5000
IT       2000
Sales    5000
Name: Salary, dtype: int64

In [7]:
# Puzzle 5: Calculate the cumulative sum of salaries in each department.
cumulative_salary = df.groupby('Department')['Salary'].cumsum()
print(cumulative_salary)

0     60000
1    125000
2     70000
3    142000
4     80000
5    165000
Name: Salary, dtype: int64

In [8]:
# Puzzle 6: Filter groups based on aggregation criteria.
high_salary_groups = df.groupby('Department').filter(lambda x: x['Salary'].mean() > 70000)
print(high_salary_groups)

  Department Employee  Salary  Years
2         IT  Charlie   70000      4
3         IT    David   72000      5
4      Sales      Eve   80000      6
5      Sales    Frank   85000      7

In [9]:
# Puzzle 7: Create a multi-level aggregation.
multi_agg = df.groupby('Department').agg({
    'Salary': ['mean', 'max'],
    'Years': ['min', 'max']
})
print(multi_agg)

             Salary        Years
               mean    max   min max
Department
HR          62500.0  65000     2   3
IT          71000.0  72000     4   5
Sales       82500.0  85000     6   7

In [10]:
# Puzzle 8: Apply multiple aggregation functions to a group.
multiple_agg_funcs = df.groupby('Department')['Salary'].agg(['mean', 'std', 'max'])
print(multiple_agg_funcs)

               mean          std    max
Department
HR          62500.0  3535.533906  65000
IT          71000.0  1414.213562  72000
Sales       82500.0  3535.533906  85000

In [11]:
# Puzzle 9: Calculate the rank of each employee within their department based on salary.
df['Salary_Rank'] = df.groupby('Department')['Salary'].rank(ascending=False)
print(df)

  Department Employee  Salary  Years  Salary_Rank
0         HR    Alice   60000      2          2.0
1         HR      Bob   65000      3          1.0
2         IT  Charlie   70000      4          2.0
3         IT    David   72000      5          1.0
4      Sales      Eve   80000      6          2.0
5      Sales    Frank   85000      7          1.0

In [12]:

# Puzzle 10: Calculate a rolling average of salaries within each department.
rolling_avg_salary = df.groupby('Department')['Salary'].rolling(window=2).mean().reset_index(level=0, drop=True)
print(rolling_avg_salary)

0        NaN
1    62500.0
2        NaN
3    71000.0
4        NaN
5    82500.0
Name: Salary, dtype: float64